volumes:
  postgres-data:
    driver: local
  kestra-data:
    driver: local

services:
  postgres:
    image: postgres:16
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: k3str4
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10

  kestra:
    image: kestra/kestra:latest
    pull_policy: always
    stop_grace_period: 6m
    user: "root"
    command: server standalone
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_started
    environment:

      SECRET_GEMINI_API_KEY: "QUl6YVN5QkJtYkxORWZfNGJSREUxX2pGbzlWeXhxTnVCN0I4anZZ"
      SECRET_INSTAGRAM_ACCESS_TOKEN: "wpZFQUF1aXFsbllkWkJJQlFEbDlkU05IRUk4TlZCbTRGYldIdFl3ZnJHWkNLUkN5MVpBTHJ0WFpDSnBTVVFWZ1hnczl5WkJnekVTS3JqWkJ1YWZaQU8zejF2bG5vMTg2akxHc2RTWkJGZWprMHdFYzVrdjA4ZmwwQm1ZT1pCNmpwaXN5cmhpcmRYd0pNTEZNVGlOd1laQ205SEEwZ0tFNElEVWV0Z3BmVDZjNWk1TWJZWVJBQXNpdDNDZDhHOGtjd3R2aWhxTDJt"
      SECRET_INSTAGRAM_ACCOUNT_ID: "MTc4NDE0Nzk0MjExOTIyMjk="

      SECRET_IMAGEKIT_PRIVATE_KEY: "cHJpdmF0ZV9LQW8rdXBCRm8yWFpWMVQvVTFEWXQ0T3ZVdzA9"
      SECRET_IMAGEKIT_PUBLIC_KEY: "cHVibGljX1VSSTRMS3ZuOUc5bzV1WVREMnhKS2FEOEFaVT0="

      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: k3str4
        kestra:
          repository:
            type: postgres
          storage:
            type: local
            local:
              base-path: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmp-dir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/

        micronaut:
          server:
            cors:
              enabled: true
              configurations:
                all:
                  allowedOrigins:
                    - "http://localhost:3000"
                    - "http://localhost:5173"
                  allowedMethods:
                    - POST
                    - GET
                    - OPTIONS
                  allowedHeaders:
                    - Content-Type
                    - Authorization